.side-nav {
    text-decoration: none;
    color: white;
}

.side-nav.active {
    font-weight: 800;
    color: #78BBBD;
}

.table-content{ 
    padding: 10px 21px;
    background: #F8F8F8;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    margin-bottom: 21px;
}

.docs-link-list ul li a{
    color: #78BBBD;
}

.docs-link-list li{
    margin-bottom: 12px;
}

.subscribe-docs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subscribe-docs input{
    padding: 10px 16px;
    color: #A0A0A0;
    /* font-weight: 600; */
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-top: 12px;
    flex-basis: 60%;
}

/* Markdown Content */
.md-content p {
    margin-top: 0; 
    margin-bottom: 16px;
    text-indent: 1.5em;    
}

.md-content h4 {
    margin-top: 0;
    margin-bottom: 16px;    
}

.md-content h4:first-child {
    margin-bottom: 5px;    
}

@media screen and (min-width: 0) {
    .subscribe-docs input{
    margin-right: 16px;
    font-size: 12px;
}
}

@media screen and (min-width: 800px) {
.subscribe-docs input{
    font-size: 16px;
}
}