/* Navbar */
nav {
    display: flex;
    position: relative;
    align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin : 41px 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 346px;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #272827;
}

nav ul li a.active {
  font-weight: 900;
}

.logo {
  display: block;
  position: absolute;
  left: 9.5%;
  top: 10%;
 
}

.sidebar{
  background-color: #4B4B4B;
  height: 100vh;
}

.shadow{
  background-color: rgba(0, 0, 0, 0.45);
  height: 100vh;
  top: 0;
}
  