/* Navbar */
nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: none;
  margin : 41px 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 346px;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #272827;
}

nav ul li a.active {
  font-weight: 900;
}

.logo {
  display: flex;
  position: absolute;
  left: 9.5%;
  top: 25%;
}

.logo img {
  max-width: 60%;
}

.sidebar{
  background-color: #4B4B4B;
  height: 100vh;
}

.shadow{
  background-color: rgba(0, 0, 0, 0.45);
  height: 100vh;
  top: 0;
}

.sidebar-anchor{ 
  text-decoration: none;
  color: white;
}


@media screen and (min-width: 900px) {
  nav { 
    justify-content: center;  
  }

  nav ul {
    display: flex;
  }

  .logo{ 
    top: 10%;
  }

  .logo img {
    max-width: 100%;
  }
}
  