@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import 'assets/style/CSNavbar.css';
@import 'assets/style/CSHomePage.css';
@import 'assets/style/CSBlogPage.css';

body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  overflow: hidden;
  position: relative; 

}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 41px;
  flex-wrap: wrap;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px;
}

.footer-setting {
  margin: 18px 8px;
}

.footer-setting .setting-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.footer-setting .setting-wrap svg {
  margin-right: 12px;
}

.footer-bottom svg {
  margin: 0 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
}

.footer-label{
  display: flex;
  flex-direction: column;
  margin: 18px 0;
}

.footer-label h3 {
  margin: 0;
  margin-bottom: 4px;
  color: #6B6B6B;
}

.footer-label::after {
  content: '';
  width: 50%;
  height: 4px ;
  background-color: #FFAB00;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.footer-link a {
  margin-bottom: 30px;
  text-decoration: none;
  color: #6B6B6B;
}



